.About-Page {
    padding-top: 100px ;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 400;
}

.about-us {
    padding-right: 12in;
    font-size: x-large;
}